@import "~styles/colors";

.dropzone {
  width: 540px;
  height: 260px;
  background-color: $white;
  border: 3px dashed $purple0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
  color: #69779b;
  cursor: auto;

  &:hover {
    background-color: $purple2;
    border-color: $purple3;
  }

  & > section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & > section > div > p {
    text-align: center;
  }

  & > section {
    width: 100%;
  }
}

.img {
  width: 100px;
  height: 100px;
}

.loadButton {
  cursor: pointer;
  color: $white;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: $purple4;
  font-size: 20px;
  width: 163px;
  height: 44px;
  margin-top: 20px;

  &:hover {
    background-color: $purple5;
  }
}
