@import "~styles/colors";

.btn {
  cursor: pointer;
  color: $white;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: $purple4;
  font-size: 20px;
  width: 163px;
  height: 44px;
  margin-top: 20px;

  &:hover {
    background-color: $purple5;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $purple0;
  }
}
