@import "~styles/colors";

.container {
}

.button {
    cursor: pointer;
    color: $white;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: $purple4;
    font-size: 15px;
    width: fit-content;
    height: 30px;

    &:hover {
        background-color: $purple5;
    }
}

.input {
    height: 30px;
    margin-right: 5px;
    font-size: 25px;
    width: 200px;
}

.block {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 30px;

    & > span {
        display: block;
        padding-top: 6px;
    }
}

.value {
    font-size: 25px;
    padding-top: 0px !important;
    margin-left: 10px;
}

.block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
